.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 180px;
    background-color: #1F1D2B;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 11;

    &__logo {
        display: grid;
        place-items: center;
        height: 120px;
        max-width: 300px;
    }

    &__menu {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 20px;
        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 20px 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: white;
            transition: color 0.3s ease-in-out;


            &.active {
                color: white;
            }

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: 40%;
            border-radius: 10px;
            background-color: white;
            z-index: -1;
            transition: 0.3s ease-in-out;
        }
    }
}
.icons {
    height: 40px;
    fill: #fff !important;
    overflow: visible;
}

.icons:hover {
    fill: white !important;

}

.logo {
    height: 65px;
    width: 100%;
}
// .sidebar__menu__indicator{
//     // transform: translateX(-45%) translateY(250px); 
// }